<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-applewatch-connectivity"
        version="0.0.1">
    <name>Apple Watch Connectivity plugin</name>
    <description>Communicate with an apple watch</description>
    <license>NONE</license>
    <keywords>cordova,applewatch,ionic</keywords>
    <repo>https://github.com/plbolduc/cordova-plugin-watchconnectivity.git</repo>
    <issue>https://github.com/plbolduc/cordova-plugin-watchconnectivity/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module name="watchconnectivity" src="www/watchconnectivity.js">
        <!-- window variable name wanted, window.myVariable -->
        <clobbers target="AppleWatchConnectivity"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppleWatchConnectivity">
                <param name="ios-package" value="AppleWatchConnectivity" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVIonicApplewatchConn.h"/>
        <source-file src="src/ios/CDVIonicApplewatchConn.m"/>
    </platform>
</plugin>