<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.apple.watch" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova.plugin.apple.watch</name>
    <description>AppleWatch</description>
    <license></license>
    <keywords>cordova,applewatch</keywords>
    <repo>https://github.com/plbolduc/cordova_apple_watch.git</repo>
    <issue>https://github.com/plbolduc/cordova_apple_watch/issues</issue>
    <author></author>

    <engines>
        <engine name="cordova" version=">=6.0.0"/>
    </engines>

    <js-module name="AppleWatch" src="www/AppleWatch.js">
        <clobbers target="AppleWatch"/>
    </js-module>

    <platform name="ios">

        <config-file parent="/*" target="config.xml">
            <feature name="AppleWatch">
                <param name="ios-package" value="AppleWatch" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppleWatch.h"/>
        <source-file src="src/ios/AppleWatch.m"/>
    </platform>
</plugin>